.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4rem;
    color: pink;
}