.card{
    height: 25vh;
    width: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid pink;
    color: #f8f8f8;
    line-height: 30px;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.6s;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(47, 45, 45);
    box-shadow: -5px 5px 60px rgb(236, 116, 136)
}

.title{
    color: pink;
    font-size: 2rem;
    line-height: 60px;
}
.static{
    color: pink;
}