.productsView{
    margin: auto;
    height: 70vh;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 0.25fr 0.25fr;
    column-gap: 2rem;
    row-gap: 2rem;
}